h1 {
background: #606364;
color: #000;
padding: 15px 40px;
text-align: center;
width: fit-content;
margin: 20px auto;
border-radius: 12px;
position: relative;
font-weight: bold;
border: 5px solid #000; /* borda preta */
}




body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}
header {
    background: #000;
    color: white;
    padding: 20px;
    text-align: center;
}
.produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}
.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-align: center;
}
.card img {
    width: 100%;
    border-radius: 10px;
}
.card button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
